{% extends "base.html" %}
  {% block content %}
    <h3>Friend configuration (Key and cipher hidden)</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Name
        </th>
        <th style="width: 50%;">
          Address
        </th>
      </tr>
      {% for section in bhweb.Config.sections() %}
        {% if 'friend' in section %}
          {% set name = section.split('.')[1] %}
          <tr>
            <td>
              {{name}}
            </td>
            <td>
              {{bhweb.Config.get(section,'addr')}}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endblock %}
