{% extends "base.html" %}
  {% block content %}
    <h3>Friend configuration (Key and cipher hidden)</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Name
        </th>
        <th style="width: 50%;">
          Address
        </th>
      </tr>
      {% for section in bhweb.Config.sections() %}
        {% if 'friend' in section %}
          {% set name = section.split('.')[1] %}
          <tr>
            <td>
              <a href="#" class="btn btn-default" role="button" title="Edit {{name}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a> {{name}}
            </td>
            <td>
              {{bhweb.Config.get(section,'addr')}}
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="#" class="btn btn-default" role="button" title="Add friend"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a> Add Friend
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endblock %}
