{% extends "base.html" %}
  {% block content %}
    <h3>Server configuration</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Option 
        </th>
        <th style="width: 50%;">
          Value
        </th>
      </tr>
      {% for column in bhweb.configdata['server'] %}
      <tr>
        <td>
          {{column}}
        </td>
        <td>
          {{bhweb.configdata['server'][column]}}
        </td>
      </tr>
      {% endfor %}
    </table>
  {% endblock %}
