{% extends "base.html" %}
  {% block content %}
    <h3>Server configuration</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Option
        </th>
        <th style="width: 50%;">
          Value
        </th>
      </tr>
      {% for option in bhweb.Config.options('server') %}
        <tr>
          <td>
            {{option}}
          </td>
          <td>
            {{bhweb.Config.get('server',option)}}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endblock %}
