{% extends "base.html" %}
  {% block content %}
    <h3>Node status</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Type 
        </th>
        <th style="width: 50%;">
          Status
        </th>
      </tr>
      {% for column in bhweb.insproot %}
        {% if column == 'cache' %}
          {% set percol = bhweb.insproot[column].split(',')[1] %}
          {% set percent = percol.split('(')[1].split(')')[0].split('%')[0] %}
          <tr>
            <td>
              {{column}}
            </td>
            <td>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                  {{percent}}%
                </div>
              </div>
              {{bhweb.insproot[column]}}
            </td>
          </tr>
        {% else %}
          <tr>
            <td>
              {{column}}
            </td>
            <td>
              {{bhweb.insproot[column]}}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <h3>All connected nodes</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Node
        </th>
        <th style="width: 50%;">
          Status
        </th>
      </tr>
      {% for column in bhweb.inspconnections %}
      <tr>
        <td>
          {{column}}
        </td>
        <td>
          {{bhweb.inspconnections[column]}}
        </td>
      </tr>
      {% endfor %}
    </table>
    <h3>All configured routes</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Node
        </th>
        <th style="width: 50%;">
          Status
        </th>
      </tr>
      {% for column in bhweb.insprouter %}
      <tr>
        <td>
          {{column}}
        </td>
        <td>
          {{bhweb.insprouter[column]}}
        </td>
      </tr>
      {% endfor %}
    </table>
  {% endblock %}
