{% extends "base.html" %}
  {% block content %}
    <h3>Node status</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Type 
        </th>
        <th style="width: 50%;">
          Status
        </th>
      </tr>
      {% for column in bhweb.insproot %}
        {% if column == 'cache' %}
          {% set percent = bhweb.insproot[column].split(',')[1].split('(')[1].split(')')[0] %}
          <tr>
            <td>
              {{column}}
            </td>
            <td>
              Used capacity:
              <div class="progress" style="width:200px">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width:{{percent}}">
                  {{percent}}
                </div>
              </div>
              {# {{bhweb.insproot[column]}} #}
            </td>
          </tr>
        {% else %}
          <tr>
            <td>
              {{column}}
            </td>
            <td>
              {{bhweb.insproot[column]}}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <h3>All connected nodes</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Node
        </th>
        <th style="width: 50%;">
          Status
        </th>
      </tr>
      {% for column in bhweb.inspconnections %}
        {% set incon = bhweb.inspconnections[column].split(',')[0].split('+')[1].split('-')[1] %}
        {% set outcon = bhweb.inspconnections[column].split(',')[0].split('+')[1].split('-')[0] %}
        {% set datain = bhweb.inspconnections[column].split(',')[1].split(':')[1] %}
          {% if 'Mbit/s' in datain %}
            {% set datainusage = 'High' %}
          {% elif 'Kbit/s' in datain %}
            {% set datainusage = 'Low' %}
          {% elif ' 0bit/s' == datain %}
            {% set datainusage = 'Radio silence' %}
          {% elif 'bit/s' in datain %}
            {% set datainusage = 'Gossiping' %}
          {% endif %}
        {% set dataout = bhweb.inspconnections[column].split(',')[2].split(':')[1] %}
          {% if 'Mbit/s' in dataout %}
            {% set dataoutusage = 'High' %}
          {% elif 'Kbit/s' in dataout %}
            {% set dataoutusage = 'Low' %}
          {% elif ' 0bit/s' == dataout %}
            {% set dataoutusage = 'Radio silence' %}
          {% elif 'bit/s' in dataout %}
            {% set dataoutusage = 'Gossiping' %}
          {% endif %}
      <tr>
        <td>
          {{column}}
        </td>
        <td>
          Incomming connections: {{incon}}<br>
          Outgoing connections: {{outcon}}<br>
          Data in: {{datainusage}} ({{datain}} ) <br>
          Data out: {{dataoutusage}} ({{dataout}} )
        </td>
      </tr>
      {% endfor %}
    </table>
    <h3>All configured routes</h3>
    <table class="table">
      <tr>
        <th style="width: 50%;">
          Node
        </th>
        <th style="width: 50%;">
          Status
        </th>
      </tr>
      {% for column in bhweb.insprouter %}
      <tr>
        <td>
          {{column}}
        </td>
        <td>
          {{bhweb.insprouter[column]}}
        </td>
      </tr>
      {% endfor %}
    </table>
  {% endblock %}
